<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>
    <link rel="stylesheet" href="/stylesheets/style-admin.css">
</head>
<body>
    <header>
        <h1>Administration</h1>
    </header>

    <div class="admin-container">
        <div class="sidebar">
            <h2>Produkter</h2>
        </div>

        <main>
            <div class="top-section">
                <h2>Produkter</h2>
                <div class="button-container">
                    <button id="load-products" class="load-products-button">Ladda produkter</button>
                    <a href="/admin/products/new" class="new-product-button">Ny produkt</a>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>SKU</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody id="product-table-body">
                    <!-- table will be filled here-->
                </tbody>
            </table>
        </main>
    </div>
    <script>
        // when clicking the load button
        document.querySelector("#load-products").addEventListener("click", async () => {
            console.log("Ladda produkter knappen klickades!");
            try {
                const response = await fetch('/admin/api/products');
                if (!response.ok) {
                    throw new Error("N책got gick fel vid h채mtning av produkter.");
                }

                const products = await response.json();
                console.log("Produkter h채mtade:", products);

                // Call a function to update the table
                updateProductTable(products);
            } catch (error) {
                console.error("Fel vid h채mtning av produkter:", error);
            }
        });

        // populate the product table
        function updateProductTable(products) {
            const tbody = document.querySelector('#product-table-body');
            tbody.innerHTML = ''; // Clear existing rows

            products.forEach(product => {
                const tr = document.createElement('tr');

                const nameCell = createTableCell(product.name);
                const skuCell = createTableCell(product.sku);
                const priceCell = createTableCell(`${product.price} SEK`);

                tr.appendChild(nameCell);
                tr.appendChild(skuCell);
                tr.appendChild(priceCell);

                tbody.appendChild(tr);
            });
        }

        // function to create a table cell to fit all products
        function createTableCell(value) {
            const td = document.createElement('td');
            td.textContent = value;
            return td;
        }
    </script>
</body>
</html>

