
header {
    background-color: #333;
    color: white;
    padding: 35px 35px;
    text-align: left;
}

header h1 {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.admin-container {
    display: flex;
    padding: 20px;
    height: 100vh; 
}


.sidebar {
    width: 15%;  
    background-color: #6b6565;
    padding: 20px;
    height: 90vh; 
    position: absolute;
}

.sidebar h2 {
    font-size: 24px;
}

main {
    margin-left: 20%; 
    padding: 20px; 
    width: 80%; 
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.new-product-button, .load-products-button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
}

.new-product-button:hover, .load-products-button:hover {
    background-color: #0056b3;
}

.new-product-button {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #757171;
    color: white;
}